<!DOCTYPE html>  
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<title>Makassar Jaya Marine</title>
<!-- Bootstrap Core CSS -->
{{ style('bootstrap/dist/css/bootstrap.min') }}
<!-- animation CSS -->
{{ style('css/animate') }}
<!-- Custom CSS -->
{{ style('css/style') }}
<!-- color CSS -->
{{ style('css/colors/default') }}
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<!-- jQuery -->
{{ script('plugins/bower_components/jquery/dist/jquery.min') }}
</head>
<body>
<!-- Preloader -->
<div class="preloader">
    <div class="cssload-speeding-wheel"></div>
</div>
<div class="row" style="margin:100px 50px">
    
    <p><span style="font-size:18px"><strong>Kebijakan Privasi</strong></span></p>

    <ul>
        <li>
        <h3>KOMITMEN KAMI TERHADAP PRIVASI ANDA</h3>
        </li>
    </ul>

    <p style="margin-left:40px">Aplikasi <strong>(MJM APPS)</strong> ini adalah aplikasi yang dibuat dan di khususkan kepada perusahaan MAKASSAR JAYA MARINE, dengan menggunakan aplikasi ini, berarti anda bagian dari perusahaan.&nbsp;<strong>(MJM APPS)</strong>&nbsp;berkomitmen untuk melindungi privasi penggunanya. Kebijakan privasi <strong>MRT APPS</strong> (&quot;<strong>Kebijakan Privasi</strong>&quot;) berlaku untuk semua informasi pribadi yang dikumpulkan oleh kami atau dikirimkan kepada kami, baik offline atau online, termasuk informasi pribadi yang dikumpulkan atau dikirimkan melalui situs kami (&quot;<strong>Situs Web</strong>&quot;) dan setiap situs mobile, aplikasi, dan fitur interaktif mobile lainnya (secara kolektif, &quot;<strong>Aplikasi</strong>&quot; kami). Apabila Anda tidak setuju dengan setiap ketentuan dalam Kebijakan Privasi ini, harap agar tidak menggunakan PLATFORM kami atau mengirimkan informasi pribadi anda kepada kami.</p>

    <ul>
        <li>
        <h3>INFORMASI PRIBADI</h3>
        </li>
    </ul>

    <p style="margin-left:40px"><strong>Informasi Pribadi&quot; adalah informasi yang mengidentifikasikan Anda sebagai seorang individu, seperti:</strong></p>

    <ol>
        <li style="margin-left: 40px;">
        <p>Nama</p>
        </li>
        <li style="margin-left: 40px;">
        <p>Nama pengguna</p>
        </li>
        <li style="margin-left: 40px;">
        <p>Alamat</p>
        </li>
        <li style="margin-left: 40px;">
        <p>Nomor Handphone</p>
        </li>
        <li style="margin-left: 40px;">
        <p>Gambar Profile</p>
        </li>
        <li style="margin-left: 40px;">
        <p>Nama dan alamat perusahaan</p>
        </li>
        <li style="margin-left: 40px;">
        <p>Informasi yang dikumpulkan melalui cookie dan teknologi lain nya</p>
        </li>
    </ol>

    <ul>
        <li>
        <h3>KEAMANAN</h3>
        </li>
    </ul>

    <p style="margin-left:40px">Kami menggunakan langkah-langkah organisasional, teknis dan administratif yang layak untuk melindungi Informasi Pribadi di bawah kendali kami. Sayangnya, tidak ada transmisi data melalui internet atau sistem penyimpanan data yang keamanannya terjamin 100%.</p>

    <p style="margin-left:40px">Jika Anda memiliki alasan untuk percaya bahwa interaksi Anda dengan kami tidak lagi aman (sebagai contoh, jika Anda merasa bahwa keamanan akun yang Anda miliki terganggu), mohon agar segara memberitahukan masalah tersebut kepada kami dengan menghubungi kami.</p>

    <ul>
        <li>
        <h3>PEMBARUAN ATAS KEBIJAKAN PRIVASI INI</h3>
        </li>
    </ul>

    <p style="margin-left:40px">Kami dapat mengubah Kebijakan Privasi ini. Mohon untuk dilihat tulisan &quot;Update Terakhir&quot; pada bagian atas halaman ini untuk melihat kapan terakhir Kebijakan Privasi ini terakhir direvisi. Setiap perubahan atas Kebijakan Privasi ini akan menjadi efektif saat kami memasukan revisi Kebijakan Privasi ini pada Situs.</p>

    <ul>
        <li>
        <h3>HUBUNGI KAMI</h3>
        </li>
    </ul>

    <p style="margin-left:40px">Apabila Anda memiliki pertanyaan mengenai Kebijakan Privasi ini, mohon untuk menghubungi pihak perusahaan CV. MakkuragaTama atau Developer melalui email yang tertera didalam aplikasi kami.</p>

    <p>&nbsp;</p>

    <p><br />
    &nbsp;</p>

    <p style="margin-left:40px">&nbsp;</p>
</div>


<!-- Bootstrap Core JavaScript -->
{{ script('bootstrap/dist/js/bootstrap.min') }}
<!-- Menu Plugin JavaScript -->
{{ script('plugins/bower_components/sidebar-nav/dist/sidebar-nav.min') }}

<!--slimscroll JavaScript -->
{{ script('js/jquery.slimscroll') }}
<!--Wave Effects -->
{{ script('js/waves') }}
<!-- Custom Theme JavaScript -->
{{ script('js/custom.min') }}
<!--Style Switcher -->
{{ script('plugins/bower_components/styleswitcher/jQuery.style.switcher') }}
</body>
</html>
